<% Base_URL="http://lechtivo.com/" %>

<% Menu_Items = Array.new %>
<% Menu_Items.push Hash[:name => "Чтиво", :url => "/tag/readings"] %>
<% Menu_Items.push Hash[:name => "Места", :url => "/tag/places"] %>
<% Menu_Items.push Hash[:name => "Еда", :url => "/tag/food"] %>
<% Menu_Items.push Hash[:name => "Дизайн", :url => "/tag/design"] %>
<% Menu_Items.push Hash[:name => "Свое дело", :url => "/tag/entrepreneurship"] %>
<% Menu_Items.push Hash[:name => "Вне рубрики", :url => "/tag/other"] %>


<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Le Chtivo | Книги, Места, Еда, Дизайн, Свое Дело, Интересности</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/fontello.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
    
   <!-- Header and Nav -->
 
  <div class="row">
    <br>
    <div class="large-12 large-centered columns text-center">
      <h1><a href="<%= Base_URL %>"><img src="/img/logo2_x400.png" alt="Le Chtivo"></a></h1>
    </div>
  </div>

  <div class="row">
  <div class="large-12 large-centered columns text-center">
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar"><a href="#"><i class="icon-menu" alt="Menu"></i></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="center-online-list">
          <% Menu_Items.each do |Menu_Item| %>
            <li class="active"><a href="<%= Menu_Item[:url] %>"><%= Menu_Item[:name] %></a></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
  </div>
  </div>
 
  <!-- End Header and Nav -->
 

  <!-- Content -->
  <%= yield %>

 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">

        <div class="large-6 push-6 columns">
          <ul class="inline-list right">
            <% Menu_Items.each do |Menu_Item| %>
              <li><a href="<%= Menu_Item[:url] %>"><%= Menu_Item[:name] %></a></li>
            <% end %>
          </ul>
        </div>

        <div class="large-6 pull-6 columns">
          <p>
            <a href="/about">О Сайте</a> | <a href="/ads">Реклама</a> | <a href="mailto:info@lechtivo.com">Info@LeChtivo.com</a>
            <br>
            <small>Использование материалов портала <b>запрещено без письменного одобрения</b> администрации сайта.
            Сайт может содержать информацию, не предназначенную для лиц младше <b>21</b>-ти года.
            <br>
            2014 © Copyright <a href="<%= Base_URL %>">Le Chtivo</a> | Создано в недрах <a href="http://ColorEMotions.net">Color-E-Motions</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </footer>
    

    <!-- JS -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
    <script>$(document).foundation();</script>

  </body>
</html>
